Data/*
Data_Nivabasen/*
Big_excel_table/*
Big_excel_table/*.rds
Input_data/Trendtabell_20160919_Komplett_v4_GSE med samletabell.xlsx
Input_data/Data_xl_lessthans_ver12.csv
Input_data/Data_xl_lessthans_ver12.rds
Input_data/Data_through_2018.rds
Input_data/120_result_10yr_2018.RData
Input_data/120_result_long_2018.RData
Input_data/opparbeiding_biota
Figures_401
core
990*
Messages from script 120*
Dag
BBE
*.html
!000_HOW_TO_USE_THESE_FILES.html
.Rhistory
.Rproj.user
.ipynb_checkpoints*
434_paramgroups/*/html/*.RData
434_paramgroups/*/html/*.rdb
434_paramgroups/*/html/*.rdx
434_paramgroups/Milkys_2021*cache
Input_data/01_*
Input_data/01_*
Input_data/Kartbase_edit_outdated*
Input_data/Lookup table - preferred parameter units_OLD*
Input_data/Lookup table - standard parameter names - OLD.csv
Input_data/Lookup table - substance groups - OLD*
Input_data/Lookup for big excel - param - OLD*
Input_data/Labware_samples*
Input_data/Labware_import*
Untitled*.ipynb

